<style>
    .display-block {
        text-align: center;
    }
    .display-icon {
        list-style: none;
        display: inline-flex;
        position: relative;
        vertical-align: top;
        width: 30%;
        padding: 10px;
    }

    .display-icon .svg-inject {
        width: 10%;
        padding-right: 5px;
    }
</style>

<ul class="display-block">
    <li class="display-icon">
        <img class="svg-inject" src="/svg/icons/globe.svg" />
        Web Development
    </li>
    <li class="display-icon">
        <img class="svg-inject" src="/svg/icons/message-circle.svg" />
        Communication
    </li>
    <li class="display-icon">
        <img class="svg-inject" src="/svg/icons/users.svg" />
        Teamwork
    </li>
    <li class="display-icon">
        <img class="svg-inject" src="/svg/icons/feather.svg" />
        Empathy
    </li>
    <li class="display-icon">
        <img class="svg-inject" src="/svg/icons/share-2.svg" />
        Knowledge Sharing
    </li>
</ul>