/* general */
.header {
    background-color: #f2aa44;
}

/* homepage */
#quote {
    font-style: italic;
    text-align: center;
    margin: auto;
    width: 75%;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* experience */

.experience-block {
    display: flex;
    align-items: center;
    height: 200px;
}

.experience-block img {
    width: 200px;
    border-radius: 5px;
}
