.header {
    background-color: #f2aa44;
}

#quote {
    font-style: italic;
    text-align: center;
    margin: auto;
    width: 75%;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
