/* general */
.header {
    background-color: #f2aa44;
}

figcaption{
    text-align: center;
} 

/* homepage */

#quote {
    font-style: italic;
    text-align: center;
    margin: auto;
    width: 75%;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* about */


/* experience */

@media (min-width: 600px){
    .experience-block {
        display: flex;
        align-items: center;
        height: 200px;
    }
    
}

@media (max-width: 600px){
    .experience-block {
        text-align: center;
    }
}


.experience-block img {
    width: 200px;
    border-radius: 5px;
}

.cover{
    text-align: center;
} 

.post-tags {
    text-align: center;
} 

.post-tag{
    margin-right: 5px;
} 